## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/replate-blueberry/Desktop/Data Analysis/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,82.99,65,90,13.87,overcast clouds
1,1,Colac,AU,-38.33,143.58,57.00,77,94,3.71,overcast clouds
2,2,Rikitea,PF,-23.12,-134.97,75.83,67,0,5.86,clear sky
3,3,Samarai,PG,-10.62,150.67,81.99,80,100,8.30,light rain
4,4,Georgetown,MY,5.41,100.34,77.00,94,20,3.36,few clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,82.99,65,90,13.87,overcast clouds
2,2,Rikitea,PF,-23.12,-134.97,75.83,67,0,5.86,clear sky
3,3,Samarai,PG,-10.62,150.67,81.99,80,100,8.30,light rain
4,4,Georgetown,MY,5.41,100.34,77.00,94,20,3.36,few clouds
6,6,Tutoia,BR,-2.76,-42.27,80.98,80,47,13.29,scattered clouds
7,7,Atuona,PF,-9.80,-139.03,78.44,75,11,17.63,few clouds
8,8,Sola,VU,-13.88,167.55,81.55,80,67,19.33,broken clouds
19,19,Lorengau,PG,-2.02,147.27,84.97,70,39,8.28,scattered clouds
20,20,Bac Lieu,VN,9.29,105.72,77.31,88,100,5.08,overcast clouds
24,24,Arlit,NE,18.74,7.39,77.81,21,0,15.66,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                211
City                   211
Country                211
Lat                    211
Lng                    211
Max Temp               211
Humidity               211
Cloudiness             211
Wind Speed             211
Current Description    211
dtype: int64

In [8]:
preferred_cities_df.notnull().sum()

City_ID                211
City                   211
Country                211
Lat                    211
Lng                    211
Max Temp               211
Humidity               211
Cloudiness             211
Wind Speed             211
Current Description    211
dtype: int64

In [11]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# There are no empty rows in my table so this will remain blank

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
0        Kapaa      US     82.99     overcast clouds  22.08 -159.32
2      Rikitea      PF     75.83           clear sky -23.12 -134.97
3      Samarai      PG     81.99          light rain -10.62  150.67
4   Georgetown      MY     77.00          few clouds   5.41  100.34
6       Tutoia      BR     80.98    scattered clouds  -2.76  -42.27
7       Atuona      PF     78.44          few clouds  -9.80 -139.03
8         Sola      VU     81.55       broken clouds -13.88  167.55
19    Lorengau      PG     84.97    scattered clouds  -2.02  147.27
20    Bac Lieu      VN     77.31     overcast clouds   9.29  105.72
24       Arlit      NE     77.81           clear sky  18.74    7.39

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]    
    except (KeyError, IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.

## As shown below I do not have any missing rows 
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,82.99,overcast clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Rikitea,PF,75.83,clear sky,-23.12,-134.97,Pension Maro'i
3,Samarai,PG,81.99,light rain,-10.62,150.67,Nuli Sapi
4,Georgetown,MY,77.00,few clouds,5.41,100.34,Cititel Penang
6,Tutoia,BR,80.98,scattered clouds,-2.76,-42.27,Pousada Guará's
7,Atuona,PF,78.44,few clouds,-9.80,-139.03,Villa Enata
8,Sola,VU,81.55,broken clouds,-13.88,167.55,Ulkel Guest House
19,Lorengau,PG,84.97,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel
20,Bac Lieu,VN,77.31,overcast clouds,9.29,105.72,Khách sạn Sài Gòn Bạc Liêu
24,Arlit,NE,77.81,clear sky,18.74,7.39,Hôtel Telwa Bungalow

In [19]:
hotel_df.count()

City                   211
Country                211
Max Temp               211
Current Description    211
Lat                    211
Lng                    211
Hotel Name             211
dtype: int64

In [20]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/replate-blueberry/Desktop/Data Analysis/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))